<%- include('../partials/headers/light') -%>
<%- include('../partials/nav_partials/navbar') -%>

<section class="container other-contents" id="privacy-policy">

    <H1 class="page-heading">Privacy <span class="text-accent">Policy</span></H1>

    <div class="row gx-5">
        <div class="col-md-8 order-last order-md-first">
            <div class="page-content">

                <div class="part" id="1">
                    <h2 class="part-heading" >1. Lorem Ipsum Head</h2>
                    
                    <p class="part-description">
                        Nam neque purus, aliquet at sollicitudin in, posuere sed dui. Vivamus sed ipsum id nulla sodales pulvinar. Suspendisse ac mollis nunc. Sed quis suscipit turpis, ac pharetra ante. Aenean et dictum quam. Suspendisse sit amet ex rutrum, ornare velit ut, dapibus lorem. In tempor nisl ac metus ultricies sollicitudin. Quisque justo ex, laoreet dictum sagittis et, elementum quis magna. Nunc augue risus, euismod quis quam vitae, consequat pharetra ipsum. Phasellus quis risus tellus. Fusce consequat tellus sit amet sem mattis convallis. Nunc molestie venenatis libero a semper.
                    </p>
        
                    <p class="part-description">
                        Aenean quis congue tellus. Phasellus vitae ipsum a ex pellentesque malesuada. Maecenas pharetra tincidunt justo, nec dignissim nisl tincidunt eget. Sed vitae lectus euismod, consectetur nisi vel, mollis elit. Donec quis lobortis purus. Proin pretium ligula et posuere condimentum. Pellentesque tincidunt dolor ac neque consequat, at faucibus nunc finibus. Aliquam libero leo, rutrum vestibulum ultrices sit amet, ultrices venenatis risus. Mauris at sem vel dolor vestibulum tempus. Vivamus ullamcorper nisl quis vestibulum varius. Praesent ac augue sit amet lorem tristique consequat non ac velit. Duis nunc arcu, semper vel risus non, accumsan laoreet felis.
                    </p>
        
                    <p class="part-description">
                        Pellentesque vel semper elit, at venenatis ante. Vestibulum at nisl sit amet est mollis auctor. Nunc id velit orci. Aliquam erat volutpat. Ut et nisl nisl. Proin in tortor est. Suspendisse rhoncus ligula odio, a ultrices ipsum egestas non. Suspendisse et arcu nisl. Vestibulum interdum nisl magna, a sodales quam pulvinar sit amet. Praesent ultricies nibh metus, eget laoreet est ullamcorper in. Aenean auctor imperdiet erat, vitae rhoncus est varius sit amet. Integer eleifend commodo fringilla. Praesent quis venenatis mi.
                    </p>
                </div>
        
                <div class="part" id="2">
                    <h2 class="part-heading" >2. Lorem Ipsum Head</h2>
                    
                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>
        
                    <p class="part-description">
                        Curabitur aliquam faucibus mauris. Maecenas pretium leo at metus luctus pellentesque. Curabitur ac sagittis ligula. Cras rutrum elementum gravida. Sed et dolor dapibus arcu egestas rutrum. In sit amet sollicitudin orci, eget sagittis ante. Maecenas id dolor placerat, posuere orci eget, accumsan turpis. Sed scelerisque nulla sapien, vitae ultrices lectus cursus at. Sed nibh eros, suscipit ut posuere sit amet, volutpat quis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac nunc non urna convallis commodo. Praesent quis lectus in ex viverra maximus. Donec metus felis, volutpat id ullamcorper id, venenatis id nulla. Morbi metus tortor, interdum nec elit sit amet, ornare tincidunt justo.
                    </p>
                </div>

                <div class="part"id="3">
                    <h2 class="part-heading" >3. Lorem Ipsum Head</h2>
                    
                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>
        
                    <p class="part-description">
                        Curabitur aliquam faucibus mauris. Maecenas pretium leo at metus luctus pellentesque. Curabitur ac sagittis ligula. Cras rutrum elementum gravida. Sed et dolor dapibus arcu egestas rutrum. In sit amet sollicitudin orci, eget sagittis ante. Maecenas id dolor placerat, posuere orci eget, accumsan turpis. Sed scelerisque nulla sapien, vitae ultrices lectus cursus at. Sed nibh eros, suscipit ut posuere sit amet, volutpat quis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac nunc non urna convallis commodo. Praesent quis lectus in ex viverra maximus. Donec metus felis, volutpat id ullamcorper id, venenatis id nulla. Morbi metus tortor, interdum nec elit sit amet, ornare tincidunt justo.
                    </p>
                </div>
                
                <div class="part"  id="4">
                    <h2 class="part-heading">4. Lorem Ipsum Head</h2>
                    
                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>
        
                    <p class="part-description">
                        Curabitur aliquam faucibus mauris. Maecenas pretium leo at metus luctus pellentesque. Curabitur ac sagittis ligula. Cras rutrum elementum gravida. Sed et dolor dapibus arcu egestas rutrum. In sit amet sollicitudin orci, eget sagittis ante. Maecenas id dolor placerat, posuere orci eget, accumsan turpis. Sed scelerisque nulla sapien, vitae ultrices lectus cursus at. Sed nibh eros, suscipit ut posuere sit amet, volutpat quis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac nunc non urna convallis commodo. Praesent quis lectus in ex viverra maximus. Donec metus felis, volutpat id ullamcorper id, venenatis id nulla. Morbi metus tortor, interdum nec elit sit amet, ornare tincidunt justo.
                    </p>

                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>

                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>
                </div>

                <div class="part" id="5">
                    <h2 class="part-heading" >5. Lorem Ipsum Head</h2>
                    
                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>

                    <p class="part-description">
                        Sed nisi ex, sollicitudin at scelerisque quis, accumsan sit amet sem. Proin hendrerit lacus vel sollicitudin luctus. Maecenas malesuada ligula quis nibh mattis vestibulum. Donec bibendum leo tellus, non tincidunt augue interdum quis. Suspendisse semper tellus id purus pellentesque, sit amet laoreet arcu congue. Donec laoreet metus sit amet neque ullamcorper, et volutpat tellus rhoncus. Aenean elementum, odio id ornare aliquet, magna libero tempor lorem, quis eleifend magna tellus vel mi. Nullam hendrerit nibh vitae lectus rhoncus suscipit. Praesent diam risus, efficitur porttitor gravida eu, feugiat at nisi.
                    </p>

                    <p class="part-description">
                        Curabitur aliquam faucibus mauris. Maecenas pretium leo at metus luctus pellentesque. Curabitur ac sagittis ligula. Cras rutrum elementum gravida. Sed et dolor dapibus arcu egestas rutrum. In sit amet sollicitudin orci, eget sagittis ante. Maecenas id dolor placerat, posuere orci eget, accumsan turpis. Sed scelerisque nulla sapien, vitae ultrices lectus cursus at. Sed nibh eros, suscipit ut posuere sit amet, volutpat quis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac nunc non urna convallis commodo. Praesent quis lectus in ex viverra maximus. Donec metus felis, volutpat id ullamcorper id, venenatis id nulla. Morbi metus tortor, interdum nec elit sit amet, ornare tincidunt justo.
                    </p>
                </div>

            </div>
        </div>

        <div class="col-md-4 order-first order-md-last  nav-parent">
            <nav class="nav flex-column">
                <p class="nav-title">On this page</p>
                <a class="nav-link active" href="#"><i class="bi bi-caret-right-fill"></i> Head 1</a>
                <a class="nav-link" href="#2"><i class="bi bi-caret-right-fill"></i> Head 2</a>
                <a class="nav-link" href="#3"><i class="bi bi-caret-right-fill"></i> Head 3</a>
                <a class="nav-link" href="#4"><i class="bi bi-caret-right-fill"></i> Head 4</a>
                <a class="nav-link" href="#5"><i class="bi bi-caret-right-fill"></i> Head 5</a>
              </nav>
        </div>
    </div>



</section>

<%- include('../partials/footer') -%>