<%- include('../partials/headers/light') -%>

<section id="register-section" class="reg-log-section">
  <div class="parent-row row g-0 h-100">
    <div
      class="
        form-container
        col-md-8
        order-last order-md-first
        d-flex
        align-items-center
        justify-content-center
      "
    >
      <div class="form-container-child py-4 py-md-0 mt-2 mt-sm-3">
        <div class="col-2 mx-auto">
          <img src="/images/s-accent.webp" class="w-100" />
        </div>

        <div class="text-center">
          <h1 class="sikreto-full-accent">sikreto</h1>

          <p class="sub-heading">Create an Account</p>
        </div>

        <form class="mt-4" action="/signup" method="POST">
          <div class="group">
            <label for="email" class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-envelope"></i>
              </span>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter your sikreto email"
              />
            </div>
          </div>

          <div class="group">
            <label for="username" class="form-label">Username</label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-person"></i>
              </span>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Enter your sikreto username"
              />
            </div>
          </div>

          <div class="group">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-key"></i>
              </span>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter your sikreto password"
              />
            </div>
          </div>

          <div class="group">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-lock"></i>
              </span>
              <input
                type="password"
                name="confirmPassword"
                class="form-control"
                placeholder="Confirm your sikreto password"
              />
            </div>
          </div>

          <div class="group group-bottom">
            <input
              type="submit"
              value="SIGN UP"
              class="btn btn-info btn-sikreto-accent w-100"
            />
          </div>
        </form>

        <div class="oauth mt-5 mx-auto text-center">
          <p class="label">Or Sign Up Using</p>

          <div class="d-flex justify-content-center flex-row">
            <div>
              <a href="/auth/fb" class="hvr-rotate">
                <img src="images/facebook.webp" class="" />
              </a>
            </div>

            <div>
              <a href="/auth/google" class="hvr-rotate">
                <img src="images/google.webp" class="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero col-md-4 order-first order-md-last px-3">
      <div class="hero-child text-center">
        <p class="display mb-0">Welcome back!</p>

        <p class="sub-display mt-3 mt-md-5 mb-0">
          Let us anonymously share each other's sikretos
        </p>

        <a
          href="/signin"
          class="
            mt-3 mt-md-5
            btn btn-outline-info btn-sikreto-outline-accent
            w-75
          "
        >
          SIGN IN
        </a>

        <p class="sub-display mt-3 mt-md-5 mb-0">
          Checkout out the shared sikretos by users like you.
        </p>

        <a
          href="/sikretos"
          class="
            mt-3 mt-md-5
            btn btn-outline-info btn-sikreto-outline-accent
            w-75
          "
        >
          SIKRETOS
        </a>
      </div>

      <div class="hero-child legal text-center">
        <a
          href="/terms-and-conditions"
          target="_blank"
          class="sub-display link"
        >
          Terms & Conditions
        </a>

        <a href="/privacy-policy" target="_blank" class="sub-display link">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</section>

<!-- email username password confirmPassword  -->

<%- include('../partials/footer') -%>
