    </div>

    

    <script>
      // toggle text blur in viewing secrets
      $('.user-dashboard p.sikret').toArray().forEach(e => {
        e.addEventListener('mouseover', function () {
          e.classList.toggle('blur-text')
        })
        e.addEventListener('mouseout', function () {
          e.classList.toggle('blur-text')
        })
      });
    </script>

    </body>

    </html>