<nav class="navbar navbar-expand-md navbar-dark bg-dark py-2">
    <div class="container-fluid py-0 m-0">

        <div class="my-brand d-flex flex-row">

            <a class="my-auto me-2" href="#">
                <img src="/images/s-white-on-accent.webp" alt="" width="45" class="">
            </a>

            <a class="my-auto" href="#">
                <p class="sikreto-signature pb-2 mb-0">
                    <span class="sikre">sikre</span><span class="t">t</span><span class="o">o</span>
                </p>
            </a>

        </div>

        <button class="my-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex w-100 ms-4 ">

                <li class="nav-item me-md-auto">
                    <a class="nav-link" href="/sikretos" id="sikretos-link">Sikretos</a>
                </li>

                <% if (locals.username) { %>

                <li class="nav-item">
                    <a class="nav-link" href="/user/sikreto" id="shikreto-link">
                        <span class="text-accent">SH</span><span>ikreto</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome, <%= username %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                    </ul>
                </li>

                <% } else { %>

                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>

                <% } %>

            </ul>
        </div>

    </div>
</nav>