<%- include('./partials/header-navless') -%>

<section id="login-section" class="reg-log-section">
    <div class="row g-0 h-100">

        <div class="hero col-md-4">

            <div class="text-center pt-5">
                <p class="display mt-5 mb-0">Hello, mga ka-sikretos</p>

                <p class="sub-display mt-5 mb-0">
                    Create an account to start saving your sikretos.
                </p>

                <a href="/signup" class="mt-5 btn btn-outline-info btn-sikreto-outline-accent w-75">
                    SIGN UP
                </a>
            </div>

        </div>

        <div class="form-container col-md-8 d-flex align-items-center justify-content-center">

            <div class="form-container-child">
                <div class="col-2 mx-auto">
                    <img src="/images/s-accent.png" class="w-100">
                </div>

                <div class="text-center">
                    <h1 class="sikreto-full-accent">sikreto</h1>

                    <p class="sub-heading">Sign in to your sikreto</p>
                </div>

                <form class="mt-4" action="/signin" method="POST">

                    <div class="group">
                        <label for="email" class="form-label">Email</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-person"></i>
                            </span>
                            <input type="email" name="email" class="form-control"
                                placeholder="Enter your sikreto email">
                        </div>
                    </div>

                    <div class="group">
                        <label for="email" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-key"></i>
                            </span>
                            <input type="password" name="password" class="form-control"
                                placeholder="Enter your sikreto password">
                        </div>
                        <div class="text-end">
                            <a href="/user/forgot" class="forgot-password">Forgot password?</a>
                        </div>
                    </div>

                    <div class="group group-bottom">
                        <input type="submit" value="SIGN IN" class="btn btn-info btn-sikreto-accent w-100">
                    </div>

                </form>

                <div class="oauth mt-5 mx-auto text-center">
                    <p class="label">Or Sign Up Using</p>

                    <div class="d-flex justify-content-center flex-row">
                        <div>
                            <a href="/auth/fb" class="hvr-rotate">
                                <img src="images/facebook.png" class="">
                            </a>
                        </div>

                        <div>
                            <a href="/auth/google" class="hvr-rotate">
                                <img src="images/google.png" class="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>




<%- include('./partials/footer-navless') -%>