<%- include('./partials/header') -%>

<section id="register-section" class="reg-log-section text-center" >

    <h1 class="my-5">Registration</h1>

    <div class="col-4 m-auto">
        <form class="" action="/register" method="POST">
            <div class="">
                <input type="email" name="email" class="form-control form-control-top" placeholder="Email address" required>
            </div>
            <div class="">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>

            <div class="">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <div class=" mb-2">
                <input type="password" name="confirmPassword" class="form-control form-control-bottom" placeholder="Confirm Password" required>
            </div>

            <div>
                <input type="submit" class="btn btn-primary w-100" value="Submit">
            </div>
        </form>
    </div>

</section>

<%- include('./partials/footer') -%>