<%- include('./partials/header') -%>

<section class="sikretos">

    <div id="heading-out">
        <h1>Anonymous Sikretos</h1>
    </div>

    <div class="hero">
        <div class="col-5 ms-auto">
            <img src="/images/hero-image.svg" class="m-auto d-block">
        </div>
    </div>

    <div class="posts-sikreto container py-5">

        <div class="row gy-4 " data-masonry='{"percentPosition": true }'>
            <% if (sikretos.length > 0) { %>

            <% sikretos.forEach(e => { %>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="sikret">
                            <%= e.value  %>
                        </p>
                        <small class="text-muted">Posted on <%= e.date %></small>
                    </div>
                </div>
            </div>

            <% }) %>

            <% } else { %>

            <div class="col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="sikret">
                            OMG NO Secrets recorded yet.
                        </p>
                    </div>
                </div>
            </div>

            <% } %>
        </div>

    </div>

</section>



<%- include('./partials/footer') -%>