<%- include('./auth_partials/header') -%>

<h1>Welcome to your Sikreto!</h1>

<a href="/user/logout" class="btn btn-lg btn-dark">Logout</a>

<br><br>

<div class="create-sikreto mx-5 px-5">

    <form action="/user/sikreto" method="POST">
        <div class="row gy-0 gx-2">
            <div class="col-8">
                <div class="input-group post-sikreto-input border border-2 rounded-3"
                    aria-describedby="anonymousPostingHelp">
                    <input type="password" id="sikreto-desc" name="text" class="form-control border-0"
                        placeholder="You know what to do">
                    <button class="btn px-2 border-0 see-password" type="button">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div id="anonymousPostingHelp" class="form-text">
                    Sikreto.com will anonymously post your secret, and not allow any public users or Sikreto accounts
                    see your name. The date today will also be recorded along with your sikreto.
                </div>
            </div>

            <div class="col-4">
                <input type="submit" value="Go anonymous" class="btn btn-dark w-100 border-0 post-sikreto-button">
            </div>
        </div>
    </form>


</div>

<div class="sikreto-list mt-5">

    <div class="form-check form-switch">
        <label class="form-check-label" for="sikretos-toggle">Read you sikretos?</label>
        <input class="form-check-input" type="checkbox" id="sikretos-toggle">
    </div>

    <% if (sikretos.length > 0 ) { %>

    <ul class="list-group mt-3">
        <% sikretos.forEach(data => { %>

        <li class="list-group-item">
            <span class="blur-text"><%= data.value %></span>
            <br>
            <small><%= data.date %></small>
        </li>

        <% }); %>
    </ul>

    <% } else { %>

    <p>No sikretos!</p>

    <% } %>
</div>

<%- include('./auth_partials/footer') -%>