/* general styles */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

a {
    text-decoration: none;
}

/* color variables */
:root {
    --darker: #222831;
    --dark: #393e46;
    --accent: #00B8E4;
    --accent-neon: #04D9FF;
    --light: #f4f4f4;

    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

    --accent-font: 'Concert One', cursive;
    --heading-font: 'Poppins', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

.blur-text {
    text-shadow: 0 0 10px white;
    color: transparent;
}



/* sikreto titles */
.sikreto-full-accent {
    color: var(--accent);
    font-family: var(--accent-font);
    font-size: 36px;
    margin-bottom: 0;
}

.sikreto-signature {
    font-family: var(--accent-font);
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.sikreto-signature .sikre {
    text-decoration: underline;
}

.sikreto-signature .t {
    text-decoration: underline;
}

.sikreto-signature .t,
.sikreto-signature .o {
    color: var(--accent-neon);
}

/* Navigation bar */
.navbar {
    border-radius: 30px 0 30px 0;
    margin: 3px;
}

.navbar .navbar-dark {
    background-color: var(--darker);
}

.navbar .navbar-nav {
    font-family: var(--accent-font);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    border: 3px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--accent-neon);
    border-bottom: 3px var(--accent-neon) solid;
}

.navbar .dropdown .dropdown-item {
    font-family: var(--heading-font);
    font-size: 15px;
}

/* Other global styles */
.posts-sikreto .card {
    background-color: transparent;
    border: 2px var(--accent-neon) solid;
    border-radius: 10px;

    font-family: var(--text-font);
    color: white;
}

.my-accent-hr{
    margin: 100px auto;
    border-bottom:  2px solid var(--accent-neon);
    width: 30%;
}

.text-accent {
    color: var(--accent-neon);
}

/* hover.css Rotate */
.hvr-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}