/* styling for un-authenticated pages access */

.reg-log-section .form-control{
    border-radius: 0;
    margin-bottom: -1px;
    padding: 15px;
}

.reg-log-section .form-control-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.reg-log-section .form-control-bottom{
    border-bottom-right-radius: 10px;
}

.reg-log-section .btn {
    border-radius: 0px 8px 8px 8px;
}