/* styling for un-authenticated pages access */

#register-section .form-control{
    border-radius: 0;
    margin-bottom: -1px;
    padding: 15px;
}

#register-section .form-control-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#register-section .form-control-bottom{
    border-bottom-right-radius: 10px;
}

#register-section .btn {
    border-radius: 0px 8px 8px 8px;
}