    </div>
    <!-- Google JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <!-- Masonry For Adaptive Card Layout -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
      integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async>
    </script>

    <script>
      // toggle text masking in posting a secret
      // $('.create-sikreto .see-password').on('mousedown', (e) => {
      //   $('.create-sikreto #sikreto-desc').attr('type', 'text')
      // })
      // $('.create-sikreto .see-password').on('mouseup', (e) => {
      //   $('.create-sikreto #sikreto-desc').attr('type', 'password')
      // })

      // toggle text blur in viewing secrets
      $('p.sikret').toArray().forEach(e => {

        e.addEventListener('mouseover', function () {
          e.classList.toggle('blur-text')
        })
        e.addEventListener('mouseout', function () {
          e.classList.toggle('blur-text')
        })
      })
    </script>

    </body>

    </html>