<section id="footer" class="footer-area mt-auto">
  <div class="container">
    <div class="row g-0">
      <div
        class="
          col-sm-12 col-md-4
          mb-4 mb-md-0
          text-start text-sm-center text-md-start
        "
      >
        <p class="sikreto-signature">
          <span class="sikre">sikre</span><span class="t">t</span
          ><span class="o">o</span>
        </p>

        <p class="tagline">
          You share. <br />
          We hide your name.
        </p>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="#" class="footer-link social">FACEBOOK</a>
        <a href="#" class="footer-link social">INSTAGRAM</a>
        <a href="/contact" class="footer-link social">CONTACT & FEEDBACK</a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="/faqs" class="footer-link my-web">FAQs</a>
        <a href="/privacy-policy" class="footer-link my-web">PRIVACY POLICY</a>
        <a href="/terms-and-conditions" class="footer-link my-web"
          >TERMS & CONDITIONS</a
        >
      </div>
    </div>
  </div>
</section>
